.callout {
    max-width: 600px;
    max-height: 500px;
    margin: 20px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    background-color: rgb(9, 47, 107);
    color: white;
}

.callout img {
    float: right;
    width: 125px;
    height: 125px;
    margin: 20px;
    padding: 2px;
    background-color: antiquewhite;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

blockquote {
    margin: 20px;
    font-size: 1.5rem;
}

cite {
    display: block;
    border-top: 1px dotted white;
    text-align: right;
    font-size: 1em;
    margin: 20px;
    padding: 10px;

}