body {

    margin: 0;
    padding: 20px;

}

header {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    margin-bottom: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

picture {
    margin: 15px 60px;
}

section {
    padding: 15px;
    background-color: rgb(218, 215, 215);
    margin: 15px 60px;
}

section h2 {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}