body {
    min-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    max-width: 650px;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
}

main {
    max-width: 400px;
    margin: 0 auto;

}

h1 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 40px #333;
}

section {
    border: 1px solid rgb(0, 0, 0, 0.2);
    margin: 15px 0;
    padding: 0 10px;
    background-color: rgb(218, 219, 219);
}

h2 {
    border-bottom: 1px solid #333;
}

section p {
    padding-left: 10px;
}

/* style footer */
footer {
    font-size: 0.9rem;
}