body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header,
footer {
    background-color: black;
    color: white;
    margin: 10px 0;
    padding: 3px 2px;
    text-align: center;
    font-size: 1.5em;
}

main {
    display: grid;
    place-items: center;
    row-gap: 10px;

}

picture {
    text-align: center;
}

picture img {
    width: 50%;
}

section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 47%;
    background-color: rgb(199, 194, 194);
}

h2 {
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 5px;
}